@import url('https://fonts.googleapis.com/css2? family= Montserrat:wght@300;400;600 & display=swap');

/*hoja de estilo*/

*{
	font-family: 'Montserrat', sans-serif;
	color: black;
	padding: 0;
	margin: 0;
		}

html{
	font-size: 62.5%;
		}

body{
background: linear-gradient(180deg, rgba(216,245,250,1) 16%, rgba(255,255,255,1) 96%);
overflow-x: hidden 100%;
	}

nav a img {
	height: 18vh;
		}
			nav ul{
			list-style: none;
				}
					nav ul li{
					line-height: 2rem;
					padding-right: 3vw;
					text-align: right;
						}
							nav ul li a{
							text-decoration: none;
							font-size: 1.5rem;
								}

header a img{
	width: 100%;
	padding-top: 1vh;
		}

h1{
	font-size: 3.8rem;
	display: flex;
	justify-content: center;
	align-content: center;
		}

h3{
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-content: center;
	animation-name: textAlpha;
	animation-duration: 3s;
		}

@keyframes textAlpha{
	from {opacity: 0;}
	to{opacity: 2;}
}

h4{
	font-size: 1.7rem;
	text-decoration-line: underline;
	margin-left: 8%;
	margin-bottom: 2%;
	display: flex;
	align-content: start;
		}

main section p{
	margin: 1% 5% 8% 5%;
	font-size: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
		}

iframe{
	width: 100%;
	height: 20vh;
	margin-top: 2%;
		}

footer img{
	width: 6vh;
	margin: 2vh;
		}
			footer a img{
			width: 4.5vh;
			display: inline-flex;
			align-content: space-around;
				}
					footer ul li{
						list-style: none;
						text-decoration: none;
						text-align: center;
							}

.text-bold {
	font-weight: 600;
		}

.text-regular {
	font-weight: 400;
		}

.text-light {
	font-weight: 300;
		}

.img{
	width: 100%;
	margin-top: 2%;
		}

.form {
	margin: 5%;
	padding: 5%;
	font-size: 1.8rem;
	line-height: 4rem;
	display: flex;
	flex-direction: column;
		}

input{
	background-color: white;
    color: black;
    border: 2px solid #92A4A6;
	border-radius: 12px;
	margin-top: 1%;
		}

input:hover{
	background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(213,239,242,1) 100%);
	transition: all 2s;
	cursor: text;
}

#input:hover{
	cursor: pointer;
}

.grid-container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3vh 21vh 40vh 33vh 30vh ;
	grid-template-areas: "div" "nav" "header" "main" "pie";
		}

.grid-container-nosotros{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3vh 21vh 19.5vh 210vh 30vh ;
	grid-template-areas: "div" "nav" "header" "main" "pie";
		}

.grid-container-ubicacion{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3vh 21vh 19.5vh 250vh 30vh ;
	grid-template-areas: "div" "nav" "header" "main" "pie";
		}

.grid-container-actividades{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3vh 21vh 19.5vh 580vh 30vh ;
	grid-template-areas: "div" "nav" "header" "main" "pie"; 
		}

.grid-container-contacto{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3vh 21vh 19.5vh 100vh 30vh ;
	grid-template-areas: "div" "nav" "header" "main" "pie";
		}


#div{
	background-color: #92A4A6;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: div;
		}

#nav{
	width: 100%;
	margin-top: 4vh;
	background-color: rgba(216, 245, 250, .5);
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-area: nav;
		}

#header{
 	grid-area: header;
	display: flex;
	flex-direction: column;
	justify-content: center;
		}

#main {
	grid-area: main;
	display: flex;
	flex-direction: column;
		}

#pie{
	font-size: 1.2rem; 
	display: flex;
	align-content: center;
	justify-content: center;
	grid-area: pie;
		}

#figure{
	display: flex;
	flex-direction: column;
	align-content: center;
	
		}

#p{
	font-size: 1.4rem;
	overflow: hidden;
	line-height: 2rem;
	text-align: center;
	padding: 2%;
		}




/*media*/

@media (min-width: 768px){
	.grid-container{
		grid-template-rows: 3vh 25vh 86vh 65vh 40vh ;
			}

	.grid-container-nosotros{
		grid-template-rows: 3vh 25vh 19.5vh 380vh 40vh ;
			}

	.grid-container-ubicacion{
		grid-template-rows: 3vh 25vh 19.5vh 450vh 40vh ;
			}

	.grid-container-actividades{
		grid-template-rows: 3vh 25vh 19.5vh 960vh 40vh ;
			}

	.grid-container-contacto{
		grid-template-rows: 3vh 25vh 19.5vh 135vh 40vh ;
			}


	nav ul li {
		display: inline-flex;
		padding-right: 3vw;
			}		
		
			nav ul li a{
				font-size: 2rem;
				}

			nav ul li a:hover{
				transform: scale(1.02);
				transition: transform 1s;
			}

				nav a img {
					height: 23vh;
					}

	h1 {
		font-size: 7rem;
			}

	footer img{
		width: 8vh;
		margin: 2vh;
			}
	
	footer a img{
		width: 6.5vh;
			}

	iframe{
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}

	.img{
		margin-left: 10%;
		margin-right: 10%;
		width: 80%;
			}

	#p {
		font-size: 2.5rem;
		line-height: 3rem;
			}

	#pie {
		font-size: 1.5rem;
			}

}

@media (min-width: 1024px){

	.grid-container{
		grid-template-rows: 4vh 27vh 116vh 90vh 50vh ;
			}

	.grid-container-nosotros{
		grid-template-rows: 4vh 27vh 30vh 510vh 50vh ;
			}

	.grid-container-ubicacion{
		grid-template-rows: 4vh 27vh 30vh 590vh 50vh ;
			}

			/*cambiar a row en actividades*/

	.grid-container-actividades{
		grid-template-rows: 4vh 27vh 30vh 600vh 50vh ;
		
			}

	.grid-container-contacto{
		grid-template-rows: 4vh 27vh 30vh 135vh 50vh ;
			}

	#div{
		font-size: 2rem;
			}

	#p {
		font-size: 2.5rem;	
		line-height: 4rem;
		padding: 3%;
			}

	#pie{
		font-size: 1.7rem;
			}

	nav a img {
		height: 28vh;
			}	

	nav ul li a{
		font-size: 2.5rem;
			}

	h1 {
		font-size: 8.5rem;
			}

	h3{
		font-size: 4rem;
			}

	footer img{
		width: 10vh;
		margin: 2vh;
			}
	
	footer a img{
		width: 8.5vh;
			}

}


@media (min-width: 1200px){

	.grid-container{
		grid-template-rows: 4vh 27vh 132vh 60vh 50vh ;
			}

	.grid-container-nosotros{
		grid-template-rows: 4vh 27vh 30vh 580vh 50vh ;
			}

	.grid-container-ubicacion{
		grid-template-rows: 4vh 27vh 30vh 650vh 50vh ;
			}

	.grid-container-actividades{
		grid-template-rows: 4vh 27vh 30vh 1250vh 50vh ;
			}

	}


	h4{
		display: none;
	}

	footer img{
		width: 13vh;
		margin: 3vh;
			}

	.img {
		width: 80%;
			}
}



