<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Las Cabañitas - Ubicación </title>
	<link rel="shortcut icon" href="../img/favicon.svg">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body class="grid-container-ubicacion">
	<div id="div">
		<a href="http://www.whatsapp.com" target="_blank">	
			<p class="text-light">Contacto 011-5856-5475</p>
		</a>
	</div>

		<nav id="nav">
		<a href="../index.html">
		    <img src="../img/logo.svg" alt="logo de las cabanitas"> 
		</a>
		<ul class="text-bold">
			<li>
				<a href="../views/nosotros.html">Nosotros</a>
			</li>
			<li>
				<a href="../views/ubicacion.html">Ubicación</a>
			</li>
			<li>
				<a href="../views/actividades.html">Actividades</a>
			</li>
			<li>
				<a href="../views/contacto.html">Contacto</a>
			</li>
		</ul>
	</nav>
	<!-- ends nav -->
	<header id="header">
		<h1>LAS CABAÑITAS</h1>
		<h3>- Ubicación -</h3>
	</header>
	<!-- ends header -->
	<main id="main">
		<section>
			<p id="p">Las Cabañitas se encuentran en la parte superior de Carpintería, al pie de las sierras a 1000 m de altura. Tiene acceso pavimentado y por la puerta pasa una ciclovía para que disfrutes de una caminata o paseo en bici, junto a tu familia, en un lugar seguro.</p>
		</section>
		<section id="main">
		<img class="img" src="../img/ubicacion.jpg" alt="imagen de una de las cabanas del complejo">
		<img class="img" src="../img/1ubicacion.jpeg" alt="imagen de una de las cabanas del complejo">
		<img class="img" src="../img/2ubicacion.jpg" alt="imagen de una de las cabanas del complejo">
		<img class="img" src="../img/3ubicacion.jpg" alt="imagen de una de las cabanas del complejo">
		</section>
			
     	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16021.489088980685!2d-65.01776279412323!3d-32.416394006547485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95d2e1590a2bfbab%3A0x78bf08dd361aa480!2sRP1%2C%20Carpinter%C3%ADa%2C%20San%20Luis!5e0!3m2!1ses-419!2sar!4v1653772592800!5m2!1ses-419!2sar" width="95%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
    </main>
	<!-- ends main -->
	<footer id="pie" class="text-bold">
		<ul>
			<li>
				<img src="../img/favicon.svg" alt="favicon de las cabanas"></li>
			<li>Complejo La Belen, Ruta Provincial 1, Km 11</li>
			<li>Carpintería, San Luis, Argentina</li>
			<li>mckrywko@gmail.com</li>
			<li>011-5856-5475</li>
        	<li>
        		<a href="http://www.facebook.com" target="_blank">
        			<img src="../img/facebooklogo.png" alt="logo de facebook">
        		</a>
				<a href="http://www.instagram.com" target="_blank">
					<img src="../img/instagramlogo.jpeg" alt="logo de instagram">
				</a>
				<a href="http://www.whatsapp.com" target="_blank">
					<img src="../img/whatsapplogo.jpeg" alt="logo de whatsapp">
				</a>
			</li>
		</ul>
	</footer>
	<!-- ends footer -->
</body>
</html>